@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="text-center">
    <div class="display-6">Create</div>
</div>

<form method="post" asp-action="Create" enctype="multipart/form-data">

    <div class="form-group my-3">
        <label>DeviceName<span class="text-danger"><strong>*</strong></span></label>
        <input id="DeviceName" name="DeviceName" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label>ImageUrl<span class="text-danger"><strong>*</strong></span></label>
        <input id="File" name="File" type="file" class="form-control" />
    </div>

    <div id="error-message" class="text-danger my-3 d-flex justify-content-center"></div>

    <div class="form-group my-3">
        <div class="btn-group">
            <button onclick="createDevice(event)" class="btn btn-primary">
                <i class="fa fa-save"></i>
                Create
            </button>
            <a onclick="getDevices(event)" class="btn btn-outline-primary">
                <i class="fa fa-list"></i>
                Devices
            </a>
        </div>
    </div>
</form>

<script type="text/javascript">
    
    function createDevice(event) {
        event.preventDefault();

        if ($('#DeviceName').val() == "" || $('#File').val() == "") {
            $("#error-message").text("Error: Please fill in the lines marked (*).");
        } else {
            const formData = new FormData(document.forms.item(0));
            let file = $('#File').prop("files")[0];
            formData.append('file', file);

            $.ajax({
                type: 'POST',
                url: 'https://localhost:7107/admin/devices/create',
                headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function () {
                    $("#error-message").text("");
                    window.location.href = 'https://localhost:7107/admin/devices/index';
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

    }

    function getDevices(event) {
        event.preventDefault();
        $.ajax({
            type: 'GET',
            url: 'https://localhost:7107/admin/devices/index',
            success: function () {
                window.location.href = 'https://localhost:7107/admin/devices/index';
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
    
</script>

@* @model DeviceDtoForInsertion

<div class="text-center">
    <div class="display-6">Create</div>
</div>

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="text-danger" asp-validation-summary="All"></div>


    <div class="form-group my-3">
        <label asp-for="DeviceName"></label>
        <input asp-for="DeviceName" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label asp-for="ImageUrl"></label>
        <input name="file" type="file" class="form-control" />
    </div>


    <div class="form-group my-3">
        <div class="btn-group">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>
                Save
            </button>
            <a asp-action="Index" class="btn btn-outline-primary">
                <i class="fa fa-list"></i>
                Devices
            </a>
        </div>
    </div>
</form> *@