@model AppUser

<div class="card mt-3 mx-auto" style="width: 25rem;">
    <div class="card-header text-center display-6 mb-2">
        @Model?.FullName
    </div>
    <img src="@Model?.ImageUrl" style="height:300px; width:300px" class="m-auto card-img-top my-1 shadow rounded-circle img-thumbnail" alt="@Model?.FullName">
    <div class="card-body">
        <hr />
        <p class="card-text">
            <i class="fa-solid fa-id-card-clip"></i>
            Username: @Model?.UserName
        </p>
        <hr />
        <p class="card-text">
            <i class="fa-solid fa-envelope"></i>
            Email: @Model?.Email
        </p>
        <hr />
        <p class="card-text">
            <i class="fa-solid fa-phone"></i>
            Phone: @Model?.PhoneNumber
        </p>
        <hr />
        <div class="btn-group d-flex justify-content-center">
            <a asp-action="Update" asp-route-id="@Model?.Id" class="btn btn-warning">
                <i class="fa fa-edit"></i>
                Edit
            </a>
            <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">
                <i class="fa fa-trash"></i>
                Delete
            </a>
        </div>
    </div>
</div>
