<div class="text-center text-danger my-5">
    <h3 class="display-3">
        <i class="fa-solid fa-bug-slash fa-2x"></i>
        <br />
        ACCESS DENIED
    </h3>
</div>

<div class="text-center my-5">
    <div class="lead my-5">
        You have no permission to access this page.
    </div>

    <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>

</div>
