@model RegisterDto

<div class="text-center">
    <div class="display-6">Update User</div>
</div>

<form method="post" asp-action="Update" enctype="multipart/form-data">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group my-3">
        <label asp-for="UserName">Username</label>
        <input asp-for="UserName" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label asp-for="ImageUrl"></label>
        <input name="file" type="file" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="form-group my-3">
        <div class="btn-group">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>
                Save
            </button>
            <a asp-action="Index" class="btn btn-outline-primary">
                <i class="fa fa-list"></i>
                Accounts
            </a>
        </div>
    </div>

    <div class="form-group my-3">
        <label asp-for="Role"></label>
        <select asp-for="Role"
                class="form-control"
                asp-items="@ViewBag.Roles"
                asp-for="Role"></select>
    </div>

</form>