@model RegisterDto

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="text-center">
    <div class="display-6">Update User</div>
</div>

<form method="post" asp-action="Update" enctype="multipart/form-data">

    <div class="form-group my-3">
        <label>Username<span class="text-danger"><strong>*</strong></span></label>
        <input value="@Model?.UserName" id="UserName" name="UserName" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label>Name</label>
        <input value="@Model?.Name" id="Name" name="Name" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label>Surname</label>
        <input value="@Model?.Surname" id="Surname" name="Surname" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label>ImageUrl<span class="text-danger"><strong>*</strong></span></label>
        <input id="File" name="File" type="file" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label>Email<span class="text-danger"><strong>*</strong></span></label>
        <input value="@Model?.Email" id="Email" name="Email" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label>Password<span class="text-danger"><strong>*</strong></span></label>
        <input id="Password" name="Password" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label>Role</label>
        <select id="Role" name="Role" class="form-control">
            @foreach (var role in ViewBag.Roles)
            {
                <option value="@role.Value">@role.Text</option>
            }
        </select>
    </div>

    <div id="error-message" class="text-danger my-3 d-flex justify-content-center"></div>
    
    <div class="form-group my-3">
        <div class="btn-group">
            <button onclick="updateAccount(event)" class="btn btn-primary">
                <i class="fa fa-save"></i>
                Update
            </button>
            <a onclick="getAccounts(event)" class="btn btn-outline-primary">
                <i class="fa fa-list"></i>
                Accounts
            </a>
        </div>
    </div>

</form>

<script type="text/javascript">

    function updateAccount(event) {
        event.preventDefault();

        if ($('#UserName').val() == "" || $('#Password').val() == "" || $('#Email').val() == "" || $('#File').val() == "") {
            $("#error-message").text("Error: Please fill in the lines marked (*).");
        } else {
            const formData = new FormData(document.forms.item(0));
            let file = $('#File').prop("files")[0];
            formData.append('file', file);


            $.ajax({
                type: 'POST',
                url: 'https://localhost:7107/admin/account/update',
                headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function (result) {
                    console.log("basarili");
                    $("#error-message").text("");
                    window.location.href = "https://localhost:7107/admin/account/index"
                },
                error: function (error) {

                    console.log(error);
                }
            });
        }
        
    }

</script>





@* @model RegisterDto

<div class="text-center">
    <div class="display-6">Update User</div>
</div>

<form method="post" asp-action="Update" enctype="multipart/form-data">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group my-3">
        <label asp-for="UserName">Username</label>
        <input asp-for="UserName" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label asp-for="ImageUrl"></label>
        <input name="file" type="file" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="form-group my-3">
        <div class="btn-group">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>
                Save
            </button>
            <a asp-action="Index" class="btn btn-outline-primary">
                <i class="fa fa-list"></i>
                Accounts
            </a>
        </div>
    </div>

    <div class="form-group my-3">
        <label asp-for="Role"></label>
        <select asp-for="Role"
                class="form-control"
                asp-items="@ViewBag.Roles"
                asp-for="Role"></select>
    </div>

</form> *@