<nav class="navbar navbar-expand-lg bg-warning border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/"></a>
        <i class="fa-solid fa-hard-drive fa-2x text-secondary"></i>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNavAltMarkup">
            <ul class="navbar-nav flex-grow-1">

                <li class="nav-item">
                    <a class="btn nav-link active text-white" onclick="getDashboard(event)">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="btn nav-link active text-white" onclick="getDevices(event)">Devices</a>
                </li>

                <li class="nav-item">
                    <a class="btn nav-link active text-white" onclick="getUserDevices(event)">User Devices</a>
                </li>
                
                @* <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" asp-area="Editor" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" asp-area="Editor" asp-controller="Devices" asp-action="Index">Devices</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" asp-area="Editor" asp-controller="UserDevices" asp-action="Index">User Devices</a>
                </li> *@

            </ul>

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="btn nav-link active text-white" onclick="getHome(event)">Home</a>
                </li>

                <li class="nav-item">
                    <a class="btn nav-link active text-white" onclick="logout(event)">Logout</a>
                </li>

                @* <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                </li> *@

            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript">

    function getDashboard(event) {
        event.preventDefault();
        $.ajax({
            type: 'GET',
            url: 'https://localhost:7107/editor/dashboard/index',
            success: function () {

                window.location.href = 'https://localhost:7107/editor/dashboard/index';
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    function getDevices(event) {
        event.preventDefault();
        $.ajax({
            type: 'GET',
            url: 'https://localhost:7107/editor/devices/index',
            success: function () {

                window.location.href = 'https://localhost:7107/editor/devices/index';
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    function getUserDevices(event) {
        event.preventDefault();
        $.ajax({
            type: 'GET',
            url: 'https://localhost:7107/editor/userdevices/index',
            success: function () {

                window.location.href = 'https://localhost:7107/editor/userdevices/index';
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    function getHome(event) {
        event.preventDefault();
        $.ajax({
            type: 'GET',
            url: 'https://localhost:7107/home/index',
            success: function () {

                window.location.href = 'https://localhost:7107/home/index';
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    function logout(event) {
        event.preventDefault();
        $.ajax({
            type: 'GET',
            url: 'https://localhost:7107/account/logout',
            success: function () {

            },
            error: function (error) {
                console.error(error);
            }
        });
        window.location.href = 'https://localhost:7107/account/login';
    }

</script>