@model UserDevices

<div class="col-sm-12 col-md-4 my-2">
    <div class="card" style="width: 18rem;">
        <div class="card-header text-center">
            @Model?.Device.DeviceName
        </div>
        <img src="@Model?.Device.ImageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">User: @Model?.AppUser.Name</p>
        </div>
    </div>
</div>
